<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>home_Controller</servlet-name>
        <servlet-class>Controllers.home_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_Controller</servlet-name>
        <servlet-class>Controllers.login_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clientes_Controller</servlet-name>
        <servlet-class>Controllers.clientes_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>libros_Controller</servlet-name>
        <servlet-class>Controllers.libros_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarios_Controller</servlet-name>
        <servlet-class>Controllers.usuarios_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autores_Controller</servlet-name>
        <servlet-class>Controllers.autores_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editoriales__Controller</servlet-name>
        <servlet-class>Controllers.editoriales__Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catalogo_Controller</servlet-name>
        <servlet-class>Controllers.catalogo_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home_Controller</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_Controller</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientes_Controller</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libros_Controller</servlet-name>
        <url-pattern>/Libros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarios_Controller</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autores_Controller</servlet-name>
        <url-pattern>/autores_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editoriales__Controller</servlet-name>
        <url-pattern>/editoriales__Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catalogo_Controller</servlet-name>
        <url-pattern>/catalogo_Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
